* {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
    color: #666666;
}
h2 {
    color: #393939;
}
ul {
    margin:1;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content:center;

}
a {
    text-decoration: none;
}


/* navbar  */
.navbar {
    background-color: #383e4c;
    padding: 5px;
}




li > a {
    display: block;
    padding: 10px;
    margin: 5px;
    color: #fcfcfc;
    border: 1px solid #646d7c;
}

/* TEST BORDER REMOVE LATER */
content {
    border: 1px solid red;
}

/* hero image */
section.hero {
    background-image: url('layout-01-assets/img11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 15%;
}
section.hero > h1 {
    color: #fcfcfc;
}
section.hero > p {
    color: #fcfcfc;
}



/* first "content blob" */
.content1 {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: flex-start;
}
.headline {
    width:fit-content;
    padding: 0px;
    padding-bottom:10px;
    border: 2px solid black;
    margin: 10px;
    flex-basis: 25%;
    background-color: #f2f2f2;
}
content > img {
    width: 100%;
    height: auto;
}

/* green one  */

content.greenline > h2 {
    color: #178a27;
    text-align: start;
    padding-left:10px;
}
content.greenline > p {
    text-align: start;
    padding-left:10px;
}
content.greenline > a {
    border: 1px solid #178a27;
    padding: 5px;
    background-color: #178a27;
    color: #fcfcfc;
    padding-left: 15px;
    padding-right: 15px;
}



/* blue one  */
content.blueline > h2 {
    color: #268ec5;
    text-align: start;
    padding-left:10px;
}
content.blueline > p {
    text-align: start;
    padding-left:10px;
}
content.blueline > a {
    border: 1px solid #268ec5;
    padding: 5px;
    background-color: #268ec5;
    color: #fcfcfc;
    padding-left:15px;
    padding-right:15px;
}


/* red one  */
content.redline > h2 {
    color: #666666;
    text-align: start;
    padding-left:10px;
}
content.redline > p {
    text-align: start;
    padding-left:10px;
}
content.redline > a {
    border: 1px solid #852406;
    padding: 5px;
    background-color: #852406;
    color: #fcfcfc;
    padding-left:15px;
    padding-right:15px;
}

/* blocks */
content.block {
    flex-basis: 45%;
    margin: 20px;
    background-color: #f2f2f2;
}
.block > h2 {
    color: #666666
}
.block > p {
    text-align: start;
    padding: 10px;
}
.block > a {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
    color: #cccccc;
    padding-left:20px;
    padding-right:20px;
    float: right;
    margin: 15px;
}


/* services thing */
.services {
    background-image: url('layout-01-assets/img13.jpg');
    background-repeat: no-repeat;
}



/* second content  */
.content2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
content.smallc {
    flex-basis: 20%;
    margin: 20px;
    background-color: #f2f2f2;
}
content.bigcolumn {
    flex-basis: 100%;
    margin: 20px;
    background-color: #f2f2f2;
}
.read {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
    color: #cccccc;
    padding-left:20px;
    padding-right:20px;
}
.bigread {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
    color: #cccccc;
    padding-left:20px;
    padding-right:20px;
    float: left;
    margin: 15px;
}

/* form  */
div {
    border: 1px solid blue;
    flex-basis:40%;
}
.contactform {
    background-image: url('layout-01-assets/img14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
p.TEXT1 {
    background-color: #fcfcfc7c;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap:wrap;
    height: auto;
}
.requiredinfo {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    color: #333232;
}
input {
    margin:10px;
    flex-basis:95%;
    flex-shrink:1;
    padding: 5px;
    background-color:#fcfcfc7c
}
.secondhalf {
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea {
    margin:10px;
    padding: 5px;
    line-height: 4.5;
    width:95%;
    background-color:#fcfcfc7c
}
button {
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    margin: 1px;
    border: none;
    background-color: #383e4c;
    color: #fcfcfc;
}
.contactform > h2 {
    color: #fcfcfc;
    text-shadow: 2px 2px 4px #000000;
}