* {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    font-size: 52px;
}
h1+p {
    font-size: 24px;
}
p {
    color: #666666;
}
h2 {
    color: #393939;
}
ul {
    margin:1;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content:center;

}
a {
    text-decoration: none;
}


/* navbar  */
.navbar {
    background-color: #383e4c;
    padding: 5px;
}


li > a {
    display: block;
    padding: 10px;
    margin: 5px;
    color: #fcfcfc;
    border: 1px solid #646d7c;
}

nav > li a:hover, li a:focus {
    background-color: #fcfcfc;
    color: #646d7c;
    transition: 0.3s;
}
a:hover {
    transition: 0.3s;
    background-color: yellow;
    color: black;
}
/* TEST BORDER REMOVE LATER */
/* content {
    border: 1px solid purple;
} */

/* hero image */
section.hero {
    background-image: url('layout-01-assets/img11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 15%;
}
section.hero > h1 {
    color: #fcfcfc;
}
section.hero > p {
    color: #fcfcfc;
}



/* first "content blob" */
.content1 {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: flex-start;
}
.headline {
    width:fit-content;
    padding: 0px;
    padding-bottom:10px;
    border: 2px solid black;
    margin: 10px;
    flex-basis: 25%;
    background-color: #f2f2f2;
}
content > img {
    width: 100%;
    height: auto;
}

/* green one  */

content.greenline > h2 {
    color: #178a27;
    text-align: start;
    padding-left:10px;
}
content.greenline > p {
    text-align: start;
    padding-left:10px;
}
content.greenline > a {
    border: 1px solid #178a27;
    padding: 5px;
    background-color: #178a27;
    color: #fcfcfc;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}



/* blue one  */
content.blueline > h2 {
    color: #268ec5;
    text-align: start;
    padding-left:10px;
}
content.blueline > p {
    text-align: start;
    padding-left:10px;
}
content.blueline > a {
    border: 1px solid #268ec5;
    padding: 5px;
    background-color: #268ec5;
    color: #fcfcfc;
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
}


/* red one  */
content.redline > h2 {
    color: #852406;
    text-align: start;
    padding-left:10px;
}
content.redline > p {
    text-align: start;
    padding-left:10px;
}
content.redline > a {
    border: 1px solid #852406;
    padding: 5px;
    background-color: #852406;
    color: #fcfcfc;
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
}

/* all color buttons */
a.button:hover {
    background-color: #fcfcfc;
    color: inherit;
    transition: 0.3s;
}
.view:hover {
    background-color: yellow;
    color: black;
    transition: 0.3s;
}

/* blocks */
content.block {
    flex-basis: 45%;
    margin: 20px;
    background-color: #f2f2f2;
}
.block > h2 {
    color: #666666
}
.block > p {
    text-align: start;
    padding: 10px;
}
.block > a {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
    color: #cccccc;
    padding-left:20px;
    padding-right:20px;
    float: right;
    margin: 15px;
    border-radius: 10px;
}


/* services thing */
.wonderhoy {
    background-image: url('layout-01-assets/img13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fcfcfc;
    padding: 50px 100px 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wonderhoy > content h4 {
    padding: 10px;
    font-size: 36px;
    text-shadow: 2px 2px 4px #000000;
}
.wonderhoy > content > p {
    font-size: 16px;
    color: #fcfcfc;

}
.wonderhoy > content {
    width: 60%;
}



/* second content  */
.content2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
content.smallc {
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    flex-basis: 20%;
    margin: 20px;
    background-color: #f2f2f2;
}
content.bigcolumn {
    flex-basis: 70%;
    margin: 20px;
    background-color: #f2f2f2;
}
.read {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
    color: #cccccc;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    align-self:center;
    justify-self: flex-end;
}
.bigread {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
    color: #cccccc;
    padding-left:20px;
    padding-right:20px;
    float: left;
    margin: 15px;
    border-radius: 10px;
}


/* form */
div {
    /* border: 1px solid blue; */
    flex-basis:40%;
}
.contactform {
    background-image: url('layout-01-assets/img14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
p.TEXT1 {
    background-color: #fcfcfc7c;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap:wrap;
    height: auto;
}
.requiredinfo {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    color: #333232;
}
input {
    margin:10px;
    flex-basis:95%;
    flex-shrink:1;
    padding: 5px;
    background-color:#fcfcfc7c
}
.secondhalf {
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea {
    margin:10px;
    padding: 5px;
    line-height: 4.5;
    width:95%;
    background-color:#fcfcfc7c
}
button {
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    margin: 1px;
    border: none;
    background-color: #383e4c;
    color: #fcfcfc;
    border-radius: 5px;
}
button:hover {
    background-color: #fcfcfc;
    color: #383e4c;
    transition: 0.3s;
}
.contactform > h2 {
    color: #fcfcfc;
    text-shadow: 2px 2px 4px #000000;
}



/* copyright */
footer {
    padding: 10px;
    color: #646d7c;
    font-size: 14px;
}
footer > h3 {
    font-weight: normal;
}